<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ReservasMM.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F1113D93FDC867AEC93CAA6B9A6962542492FE37</string>
				<key>dateExpires</key>
				<string>12/4/25</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F1113D93FDC867AEC93CAA6B9A6962542492FE37</string>
						<key>dateExpires</key>
						<string>12/4/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>QRCodeReader.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G2CLXNGC82</string>
						<key>name</key>
						<string>RESULTO CONSULTORIA SL</string>
					</dict>
					<key>versionNumber</key>
					<string>10.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>24.4.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F1113D93FDC867AEC93CAA6B9A6962542492FE37</string>
						<key>dateExpires</key>
						<string>12/4/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SAPCommon.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G2CLXNGC82</string>
						<key>name</key>
						<string>RESULTO CONSULTORIA SL</string>
					</dict>
					<key>versionNumber</key>
					<string>24.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>15835</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F1113D93FDC867AEC93CAA6B9A6962542492FE37</string>
						<key>dateExpires</key>
						<string>12/4/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SAPFiori.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G2CLXNGC82</string>
						<key>name</key>
						<string>RESULTO CONSULTORIA SL</string>
					</dict>
					<key>versionNumber</key>
					<string>24.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>24.4.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F1113D93FDC867AEC93CAA6B9A6962542492FE37</string>
						<key>dateExpires</key>
						<string>12/4/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SAPFioriFlows.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G2CLXNGC82</string>
						<key>name</key>
						<string>RESULTO CONSULTORIA SL</string>
					</dict>
					<key>versionNumber</key>
					<string>24.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>24.4.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F1113D93FDC867AEC93CAA6B9A6962542492FE37</string>
						<key>dateExpires</key>
						<string>12/4/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SAPFoundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G2CLXNGC82</string>
						<key>name</key>
						<string>RESULTO CONSULTORIA SL</string>
					</dict>
					<key>versionNumber</key>
					<string>24.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>24.4.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F1113D93FDC867AEC93CAA6B9A6962542492FE37</string>
						<key>dateExpires</key>
						<string>12/4/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SAPML.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G2CLXNGC82</string>
						<key>name</key>
						<string>RESULTO CONSULTORIA SL</string>
					</dict>
					<key>versionNumber</key>
					<string>24.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>24.4.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F1113D93FDC867AEC93CAA6B9A6962542492FE37</string>
						<key>dateExpires</key>
						<string>12/4/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SAPOData.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G2CLXNGC82</string>
						<key>name</key>
						<string>RESULTO CONSULTORIA SL</string>
					</dict>
					<key>versionNumber</key>
					<string>24.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>24.4.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F1113D93FDC867AEC93CAA6B9A6962542492FE37</string>
						<key>dateExpires</key>
						<string>12/4/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SAPOfflineOData.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G2CLXNGC82</string>
						<key>name</key>
						<string>RESULTO CONSULTORIA SL</string>
					</dict>
					<key>versionNumber</key>
					<string>24.4.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>G2CLXNGC82.com.resulto.Reservas-MM</string>
				<key>com.apple.developer.team-identifier</key>
				<string>G2CLXNGC82</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>ReservasMM.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0647ac1f-0442-4b32-8628-154d9d1899c8</string>
				<key>dateExpires</key>
				<string>12/4/25</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.resulto.Reservas-MM</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>G2CLXNGC82</string>
				<key>name</key>
				<string>RESULTO CONSULTORIA SL</string>
			</dict>
			<key>versionNumber</key>
			<string>1.6.0</string>
		</dict>
	</array>
</dict>
</plist>
