<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Farmacia Recoletas.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>62BE81E4EC0C433356F5D0F41522E16C8BAF0D30</string>
				<key>dateExpires</key>
				<string>3/3/22</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>62BE81E4EC0C433356F5D0F41522E16C8BAF0D30</string>
						<key>dateExpires</key>
						<string>3/3/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>QRCodeReader.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G2CLXNGC82</string>
						<key>name</key>
						<string>RESULTO CONSULTORIA SL</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>62BE81E4EC0C433356F5D0F41522E16C8BAF0D30</string>
						<key>dateExpires</key>
						<string>3/3/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SAPCommon.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G2CLXNGC82</string>
						<key>name</key>
						<string>RESULTO CONSULTORIA SL</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>62BE81E4EC0C433356F5D0F41522E16C8BAF0D30</string>
						<key>dateExpires</key>
						<string>3/3/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>embeddedBinaries</key>
					<array>
						<dict>
							<key>architectures</key>
							<array>
								<string>arm64</string>
							</array>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>62BE81E4EC0C433356F5D0F41522E16C8BAF0D30</string>
								<key>dateExpires</key>
								<string>3/3/22</string>
								<key>type</key>
								<string>Apple Distribution</string>
							</dict>
							<key>name</key>
							<string>SAPCommon.framework</string>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>G2CLXNGC82</string>
								<key>name</key>
								<string>RESULTO CONSULTORIA SL</string>
							</dict>
						</dict>
					</array>
					<key>name</key>
					<string>SAPFiori.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G2CLXNGC82</string>
						<key>name</key>
						<string>RESULTO CONSULTORIA SL</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>62BE81E4EC0C433356F5D0F41522E16C8BAF0D30</string>
						<key>dateExpires</key>
						<string>3/3/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SAPFioriFlows.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G2CLXNGC82</string>
						<key>name</key>
						<string>RESULTO CONSULTORIA SL</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>62BE81E4EC0C433356F5D0F41522E16C8BAF0D30</string>
						<key>dateExpires</key>
						<string>3/3/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SAPFoundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G2CLXNGC82</string>
						<key>name</key>
						<string>RESULTO CONSULTORIA SL</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>62BE81E4EC0C433356F5D0F41522E16C8BAF0D30</string>
						<key>dateExpires</key>
						<string>3/3/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SAPOData.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G2CLXNGC82</string>
						<key>name</key>
						<string>RESULTO CONSULTORIA SL</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>62BE81E4EC0C433356F5D0F41522E16C8BAF0D30</string>
						<key>dateExpires</key>
						<string>3/3/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SAPOfflineOData.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G2CLXNGC82</string>
						<key>name</key>
						<string>RESULTO CONSULTORIA SL</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>G2CLXNGC82.com.resulto.Farmacia-Recoletas</string>
				<key>com.apple.developer.team-identifier</key>
				<string>G2CLXNGC82</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>G2CLXNGC82.com.resulto.Farmacia-Recoletas</string>
				</array>
			</dict>
			<key>name</key>
			<string>Farmacia Recoletas.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>90c66d92-8b1c-43ea-8ac8-973267cbb5e8</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.resulto.Farmacia-Recoletas</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>G2CLXNGC82</string>
				<key>name</key>
				<string>RESULTO CONSULTORIA SL</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
